body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 175px 3fr 50px;
  height: 100vh;
  font-family: 'Londrina Shadow', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: #f2e2c4;
}

header {
  text-align: center;
  color: #8c4f2b;
  background-color: #f2e2c4;
}

header img {
  margin-top: 20px;
}

header p {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

footer {
  text-align: center;
  color: #f2e2c4;
  background-color: #8c4f2b;
}

.games {
  background-color: #f2e2c4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.games > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 20px 10px;
  height: 30%;
  color: #f2e2c4;
}

#first-game {
  background-color: #f2af5c;
}

#second-game {
  background-color: #8697a6;
}

#third-game {
  background-color: #f2af5c;
}

section {
  display: grid;
}

.game-board {
  background-color: #f2e2c4;
}

.game-board > section {
  box-shadow: 0 0 30px hsl(22, 53%, 36%);
  background-color: white;
  width: 70%;
  height: 90%;
  margin: 0 auto;
}

.scoreSection {
  display: none;
}

.instructionSection,
.scoreSection {
  text-align: center;
  color: #8c4f2b;
}

.instructions {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

ol,
ul {
  list-style: none;
}

ol > li {
  font-size: 20px;
}

ul > li {
  font-size: 15px;
  color: #8697a6;
}

.instructionSection p {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  width: 80%;
}

.gameSection {
  display: none;
  grid-template-rows: 70px 1fr 1fr;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.options > button {
  place-self: center;
  width: 60%;
  height: 60%;
  font-size: 25px;
  background-color: #f2af5c;
}

.ansBtn {
  width: 35% !important;
  height: 35% !important;
  font-size: 40px !important;
}
.equation {
  place-self: center;
  place-content: center;
  width: 100%;
  height: 30%;
  font-size: 50px;
  color: #8c4f2b;
  /* background-color: #f2af5c; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  background-color: #8c4f2b;
  border: none;
  font-size: 15px;
  color: #f2e2c4;
  padding: 12px 12px;
  text-align: center;
  border-radius: 10px;
}

button:hover {
  background-color: #b2653f;
  cursor: pointer;
}

#playBtn,
#playAgain {
  width: 40%;
  height: 50%;
  font-size: 20px;
  place-self: center;
}

.gameData {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #f2af5c;
  font-size: 18px;
  /* color: #8697a6; */
}

#level {
  color: #8c4f2b;
}
